img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* Make skip navigation link visible above the header when focused */
#skip {
  z-index: 9999;
}