html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#main-wrapper {
  height: 100vh;
  height: -webkit-fill-available;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* Make skip navigation link visible above the header when focused */
#skip {
  z-index: 9999;
}