name: siralim-ultimate-ui-ci-feature-branch
on:
  push:
    branches:
      - '*'
      - '!main'
  pull_request:
     types: [assigned, opened, synchronize, reopened]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: 'rovermicrover/siralim-ultimate-dev'
      - uses: actions/checkout@v2
        with:
          path: ./siralim-ultimate-api
      - uses: actions/checkout@v2
        with:
          repository: 'rovermicrover/siralim-ultimate-nginx'
          path: ./siralim-ultimate-nginx
      - uses: actions/checkout@v2
        with:
          repository: 'rovermicrover/siralim-ultimate-ui'
          path: ./siralim-ultimate-ui
      - name: Build and run checks
        run: ./commands/ui/ci